@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">歡迎</h1>
    <p>這裡為Peter Liang的攝影作品網站</p>
    <img src="~/img/index3.jpg" alt="photography" style="width: 50%;height: auto;vertical-align: middle;border-style: none;" />
</div>
