<configuration>
	<appSettings>
		<add key="Blew" value="false"/>
		<add key="PicDomain" value="https://voicedubbing.blob.core.windows.net/picturecontainer/"/>
		<add key="AzureBlobContainerName" value=""/>
		<add key="AzureTable" value=""/>
		<add key="AzureBlobContainer" value=""/>
	</appSettings>
</configuration>