@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "我的實驗室";
}

<div class="text-center">
    <p>這裡列出我的Side Project</p>
    <img src="~/img/labs.png" alt="photography" style="width: 50%;height: auto;vertical-align: middle;border-style: none;" />
</div>

<div class="container-md">
    <div class="row row-cols-5 ">
        <div class="col">
            <a class="btn btn-primary" target="_blank" href="https://peterqrcode.azurewebsites.net/" role="button">QR Code產生器</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" target="_blank" href="https://weburllistblazorap20230617195010.azurewebsites.net/" role="button">書籤網站</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" target="_blank" href="https://github.com/sholfen/LLMWinFormsAP" role="button">AI女友程式</a>
        </div>
    </div>
</div>