@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "我的實驗室";
}

<div class="text-center">
    <h1 class="display-4">歡迎</h1>
    <p>這裡為Peter Liang的攝影作品網站</p>
    <img src="~/img/index.png" alt="photography" style="width: 50%;height: auto;vertical-align: middle;border-style: none;" />
</div>